/selector por etiquetassssssssssssssss

header h1{
    color: turquoise;
}

header h2{
    color: rgb(157, 24, 219);
}

/selector por claseeeeeeeeeeee
articule{
    color: rgb(157, 24, 219)   ;
}

 .subtitulo{
    color: rgb(44, 219, 24)   ;
}   
/selector por idddddddddddddddddd
#piedepagina{
    color: rgb(174, 141, 7)   ;
}